CEVPLAY/bin/*
!CEVPLAY/bin/CEVIDIUM.8xp
/CEVPLAY/obj
/CEVPLAY/src/gfx/out/*.h
/CEVPLAY/src/gfx/out/*.c
/CEVPLAY/src/gfx/*.log
/CEVENCODER/bin
/CEVENCODER/obj
/CEVENCODER/*.mp4
/CEVENCODER/tools/*.pyc
/CEVDECODER/old
CEVPLAY/src/gfx/convimg.yaml.lst
CEVENCODER/caches/*
CEVENCODER/m/__pycache__/*
